
$blue: #54a0ff;
$secondary: #5f27cd;
$green: #1dd1a1;
$cyan: #48dbfb;
$yellow: #feca57;
$red: #ff6b6b;
$dark: #576574;
$light: #c8d6e5;
$enable-caret: true;
$font-weight-light: 300;
$btn-font-weight: $font-weight-light;
$font-weight-normal: 400;
$badge-font-weight: $font-weight-normal;
